<div class="container text-center">

  <h2>Here is a list of all cocktails we have.</h2>
  <br>
  <br>
  <div class="row">
    <% @cocktails.each  do |cocktail| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card text-center">
              <%= image_tag cocktail.photo.url(:index_photo)%>
              <div class="card-category"> <h4>
              <%= link_to "#{cocktail.name}", cocktail_path(cocktail), {:style => 'color: red'} %>
              </h4></div>
            </div>

            <br>
          </div>
    <%end%>
  </div>
</div>

