.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
}

.card-category {
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
  left: 50%;
}

.card:hover{
  opacity: 0.7;
}
